  <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">The Debuggers</h5>
                <p class="grey-text text-lighten-4">Where Problems are Converted into Solutions.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Debugger - All Rights Reserved
            </div>
          </div>
        </footer>